ul.pagination {
  li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;

    background-color: #fff;
    border: 1px solid #dee2e6;
    a{
      color: $pastelRed;
    }
    &.active{
      background:$pastelRed;
      a{
        color: white;
      }
    }


  }
}

